html {
  background-color: peachpuff; 
}

p {	
  background-color: peachpuff; 
  color: black;
}

img {
  border-style: lightsteelblue 1px inset; 
  width: 100px; 
}

h1 {
  font-family: 'Trebuchet MS', sans-serif 48px normal; 
  color: slategrey;
  box-shadow: 2px 4px darkgrey;
}

h2 {
  margin: 16px 10px 12px 8px;
  text-shadow: 0 3px 0 slategrey;
  color: darkgrey; 	  
}


h3 {
  margin: 0 auto 0 auto; 
  text-shadow: 0 3px 0 slategrey;
  color: darkgrey;  	
}

header {
  text-align: center; 
}

a {
  text-decoration: underline;	
}	
	
