<style>
  @import url(https://fonts.googleapis.com/css?family=Aleo);

  h1, 
  h2,
  footer {
    font-family: 'Aleo', serif;
    text-align: center;
    border: inset 3px lightBlue;
 }
</style>

<style>
html {
  width: 320px;
  margin: 0 auto 0 auto;
}
</style>

<style>
a:hover {
  color: black;
}
</style>

<style>
html {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
}
</style>

<style>
h1,
h2,
footer {
  text-align: center;
  border: 6px groove slateGrey
}
</style>

<style>
h1 {
  text-shadow:  0 3px 0 slateGrey;
}
</style>

<style>
img {
  border: 12px ridge lightPink;
}

<style>
html {
  background: white url(/images/textures/light2a.png);
  list-style-image: url(/images/icons/icon2.png);
}
</style>
